*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 body {
    font-size: 15px;
 }
/*INIZIO STILE HEADER*/ 
header {
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    background-size: 300px 150px;
    background-position-x: -95px;
}
#Logo {
    width: 155px;
    padding: 30px 0px 5px 5px;
}
/*FINE STILE HEADER*/ 
#Container {
    margin: 5px 5px;
}
/*INIZIO STILE MAIN*/ 
h1 {
    font-size: 29px;
}
#Crediti {
    font-size: 14px;
}
a {
    text-decoration: none;
    color: rgb(12, 161, 226);
}
#Data {
    font-size: 9px;
    margin-bottom: 15px;
}
/*Inizio stile immagini*/
.Img-Tim {
    height: 275px;
}
/*Fine stile immagini*/
#Didascalia {
    font-size: 9px;
    margin-bottom: 20px;
}
p {
    margin-bottom: 20px;
}
.Frasi-evidenziate {
    background-color: rgb(254, 254, 0);
    }
ul {
    margin-bottom: 20px;
    margin-left: 15px;
}
/*Inizio stile tabella*/
table {
    border-collapse: collapse;
    margin-bottom: 20px;
}
thead {
    background-color: rgb(32, 169, 229);
}
th {
    color: white;
    text-align: left;
}
.Riga-dispari {
    background-color: rgb(177, 229, 242);
}
/*Fine stile tabella*/
/*FINE STILE MAIN*/ 
/*INIZIO CLASSI IN COMUNE TRE MAIN E FOOTER*/
.Testo-grigio {
    color: rgb(131, 131, 131);
}
/*FINE CLASSI IN COMUNE TRE MAIN E FOOTER*/
/*INIZIO STILE FOOTER*/ 

/*FINE STILE FOOTER*/ 